@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0C0A14;
  color: #EAEAEA;
}

body {
  margin: 0;
  font-family: 'Noto Sans SC', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0C0A14;
  overflow: hidden; /* Immersive feel */
}

@layer utilities {
  .text-shadow-glow {
    text-shadow: 0 0 10px rgba(125, 249, 255, 0.5);
  }
}
